<div class="flex-container" >
  <div class="game-board">
    <canvas id="gboard" width="1200" height="600" style="background:grey"></canvas>
    <button id="start" >START GAME</button>
    <button id="stop" >STOP GAME</button>
  </div>
  <div class="players-list">
    <h3>Players</h3>
    <div id="players"></div>
  </div>
</div>
